<h3>Votre demande d'accès à une liste de cadeau a été refusée.</h3>
<hr>
<p>Bonjour {{SENDER_NAME}},</p>
<p>J'ai la douleur de vous annoncer que votre demande d'accès aux listes de cadeaux de {{RECIEVER_NAME}} a été refusée.</p>
<br>
<p>Il s'agit là très certainement d'un erreur, et je vous invite à renouveller votre demande ou à prendre contact avec cet utilisateur.</p>
<p>Que cet accroc ne soit pas un frein à votre générosité !</p>
<hr>
<p><h3>Je vous souhaite plein de cadeaux offerts et reçus !</h3></p>
<p><h3>A très bientôt !</h3></p>